@model GuestEditViewModel

@{
    ViewBag.Title = "Edit Guest";
    var photoPath = "~/Images/" + (Model.ExistingPhotoPath ?? "ImageNotAvailableDefault.jpg");
}

<form enctype="multipart/form-data" asp-controller="Home" asp-action="edit" method="post" class="mt-3">
    <div class="form-group row">
        <input hidden asp-for="Id" />
        <input hidden asp-for="ExistingPhotoPath" />
        <label asp-for="Forename" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Forename" class="form-control" placeholder="Forename" />
            <span asp-validation-for="Forename" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Surname" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Surname" class="form-control" placeholder="Surname" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Date_Of_Birth" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Date_Of_Birth" class="form-control" placeholder="DateofBirth" />
            <span asp-validation-for="Date_Of_Birth" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Photos" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input multiple asp-for="Photos" class="form-control custom-file-input" />
                <label class="custom-file-label">Click here to change photo</label>
            </div>
        </div>
    </div>

    <div class="=form-group row col-sm-4 offset-4">
        <img src="@photoPath" class="imageThumbnail" asp-append-version="true" />
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="card">
        <div class="card-header">
            <h3>Guest stays</h3>
        </div>
        <div class="card-body">
            @if (Model.Stays.Any())
            {
                foreach (var stay in Model.Stays)
                {
                    <h5 class="card-title">@Model.Stays</h5>
                }
            }
            else
            {
                <h5 class="card-title">None at the moment</h5>
            }
        </div>
        <div class="card-footer">
            <a asp-controller="Stay" asp-action="Index" asp-route-userId="1/"
               class="btn btn-primary" style="width:auto">
                Manage Stays
            </a>
        </div>
    </div>
    <div class="form-group" row>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>

    @*This script is required for displaying files uploaded and count of files if more than one*@

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileLabel = $(this).next('.custom-file-label');
                    var files = $(this)[0].files;
                    if (files.length > 1) {
                        fileLabel.html(files.length + ' files selected');
                    }
                    else if (files.length == 1) {
                        fileLabel.html(files[0].name);
                    }
                });
            });
        </script>
    }
</form>
