@model IEnumerable<Guest>

@{
    
    ViewBag.Title = "Guest List";
}

<div class="card-deck">
        @foreach (var guest in Model)
        {
            <div class="card m-3">
                <div class="card-header">
                    <h3>@guest.Forename,@guest.Surname</h3>
                    </div>
                    <img class="card-img top" src="~/images/UU.jpg"/>
                    <div class="card-footer text-center">
                        <a href="#" class="btn-primary">View</a>
                        <a href="#" class="btn-primary">Edit</a>
                        <a href="#" class="btn-primary">Delete</a>
                 </div>
            </div>
        }
</div>
