@model IEnumerable<Guest>

@{
    
    ViewBag.Title = "Guest List";
}

<div class="card-deck">
        @foreach (var guest in Model)
        {
            <div class="card m-3">
                 <div class="card-header">
                    <h3>@guest.Forename,@guest.Surname</h3>
                 </div>
                 <img class="card-img top" src="~/images/UU.jpg"
                      asp-append-version="true"/>


                 <div class="card-footer text-center">
                     <a asp-controller="home" asp-action="details"
                        asp-route-id="@guest.Id" class="btn btn-primary m-1">View</a>
                        <a href="#" class="btn btn-primary m-1">Edit</a>
                        <a href="#" class="btn btn-danger m-1">Delete</a>
                 </div>
            </div>
        }
</div>
